<mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        type="button" (click)="openDailog()">
        ADD USER
    </button>
</mat-toolbar>

<mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <!-- #docregion toggle -->
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <!-- #enddocregion toggle -->
</mat-form-field>